<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Horse Racing</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class='container'>
        <div class='row'>
      <button id="Jockey">
        Jockey
      </button>
      <button id="Trainer">
        Trainer
	  </button>
	  <button id="Clear">
		  Clear
	  </button>
    <div>
    <svg class='chart'>
    </svg>
    </div>
        </div>
    </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="../static/js/app.js"></script>
</body>
</html>