<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Betting Strategies</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

  <div id="plot"></div>

  <select id="selDataset">
    <option value="dataset1">1: Bet It All</option>
    <option value="dataset2">2: Martingale System</option>
    <option value="dataset2">3: Fixed Amount</option>
    <option value="dataset2">4: Proportional Betting</option>

  </select>

  <script src="../static/js/strategies.js"></script>

</body>

</html>